html, body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.menu-button {
    width: 95%;
    height: 95%;
    background-color:#2F4F4F;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 220px;
    height: 100%;
    background-color: #ffe6e6;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s;
    padding: 20px;
}

.sidebar.open {
    left: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.sidebar-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.sidebar-link:hover {
    text-decoration: underline;
}

.close-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.container {
  width: 90%;
  max-width: 1000px;
  min-width: 600px; 
  background-color: #ffe6e6; 
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #d6336c;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  gap: 10px;
}

.todo-form .form-group {
  flex: 1;
}

.todo-list {
  margin-top: 20px;
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #d6336c;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.todo-item h5 {
  margin: 0;
  color: #333;
}

.todo-item p {
  margin: 0;
  color: #6c757d;
}

.todo-item-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.todo-item button {
  background-color: #d6336c; 
  border-color: #d6336c;
  color: #fff;
}

.todo-item button:hover {
  background-color: #a52a5b;
  border-color: #a52a5b;
}

.form-control {
  margin-bottom: 15px;
  border-color: #d6336c;
  box-shadow: none;
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ffffff; 
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

button[type="submit"] {
  display: block;
  margin-top: -14px;
  width: auto;
  background-color: #d6336c;
  border-color: #d6336c;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #a52a5b;
  border-color: #a52a5b;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.page-content h1 {
  color: #d6336c;
}

.btn-primary {
  background-color: #2F4F4F !important;
  border-color: #2F4F4F !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #a52a5b !important;
  border-color: #a52a5b !important;
}

.table-container {
  margin-top: 20px;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #d6336c;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #ffe6e6;
}

.table td {
  background-color: #ffffff;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 200px;
}

.contact-table-container {
  margin-top: 4px;
  width: 100%;
  overflow-x: auto;
  border: 1px solid #d6336c; 
  padding: 10px; 
}

.contact-table {
  width: 800px;
  border-collapse: collapse;
}

.contact-table th, .contact-table td {
  border: 1px solid #d6336c;
  padding: 8px;
  text-align: left;
}

.contact-table th {
  background-color: #ffe6e6;
}

.contact-table td {
  background-color: #ffffff;
  word-wrap: break-word;
}

.language-switcher {
  position: fixed;
  top: 10px;
  right: 10px;
}

.language-switcher select {
  background: #d6336c;
  border: 1px solid #a52a5b;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.language-switcher select:hover {
  background-color: #a52a5b;
}